
.globalTextColor{
    color:#51288d;
}
.globalHoverBackColor:hover{
    background-color:#51288d;
    transition: all 0.4s ease-in-out;
}

.globalHoverTextColor:hover{
       color:white;
}
.globalBackColor{
    background-color:#51288d;
}